<div *ngIf="showUserChecklist">
  <h1 class="page-title">View - <span class="fw-semi-bold">Checklist</span></h1>
  <section class="widget" widget>
    <div class="widget-body">

      <div class="mt">
        <table class="table table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead>
            <tr>
              <th class="no-sort d-none d-md-table-cell">
                Hub Name
              </th>
              <th class="d-none d-md-table-cell">
                Select Checklist
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mf.data">
              <td><span class="d-none d-md-table-cell">{{item.hubName}}</span></td>
              <td>
                <span class="d-none d-md-table-cell">
                  <button type="button" class="btn btn-primary btn-xs mb-xs" (click)="openViewChecklist(item)">View Checklist</button> &nbsp;
                </span>
              </td>
            </tr>
            <tr *ngIf="mf.data.length === 0">
              <td colspan="100">
                No matches
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="12">
                <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </section>
</div>

<view-checklist *ngIf="showViewChecklist" [detail]="checklistDetail" (backToCheckList)="changeChecklistComponent('userCheckList')"></view-checklist>
